.App {
  text-align: center;
  background-color: azure;
}


.header {
  background-color: #063700;
  height: 100px;
  padding: 20px;
  border-bottom-left-radius: 6px ;
  border-bottom-right-radius: 6px ;
  box-shadow: 5px 10px 8px rgb(69, 69, 69);
  color: white;
}

.title {
  font-size: 2.75rem;
}

.page-title {
  font-size: 2.5rem;
}

